Standard/C2SIM/Schemas/Previous Versions/C2SIM_v9_SMX_v9_LOXv5_ASX_Order_flat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns="http://www.sisostds.org/schemas/C2SIM/1.1"
    targetNamespace="http://www.sisostds.org/schemas/C2SIM/1.1">

    <!-- repackaging of C2SIMv9_SMXv9_LOXplusv5.xsd from C2SIM Core/SMX/LOX Ontology -->
	<!-- replacing ref and group by an equivalent direct use of the element names -->

	<xs:complexType name="MessageBodyType">
		<xs:choice>
			<xs:element ref="DomainMessageBody"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:element name="MessageBody" type="MessageBodyType"/>

	<xs:complexType name="DomainMessageBodyType">
		<xs:choice>
			<xs:element name="OrderBody" type="OrderBodyType"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="DomainMessageBody" type="DomainMessageBodyType"/>
	
	<xs:simpleType name="UUIDBaseType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-z]{8}\-[0-9a-z]{4}\-[0-9a-z]{4}\-[0-9a-z]{4}\-[0-9a-z]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="FromSenderType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="ToReceiverType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="IsoDateTimeBaseType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}[T]{1}[0-9]{2}:[0-9]{2}:[0-9]{2}[Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IsoDateTimeType">
		<xs:restriction base="IsoDateTimeBaseType"/>
	</xs:simpleType>
	<xs:element name="IsoDateTime" type="IsoDateTimeType"/>
	
	<xs:complexType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>A date and time in ISO 8601:2000 DateTime Group format yyyy-mm-ddThh:mm:ssZ e.g. 1998-05-12T14:15:00Z. From MSDL simple types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IsoDateTime" type="IsoDateTimeType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DateTime" type="DateTimeType"/>
	
	<xs:simpleType name="TimeReferenceCodeType">
		<xs:annotation>
			<xs:documentation>Indicates whether a relative time is referenced to the start or the end of an interval time.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="IntervalEndTime"/>
			<xs:enumeration value="IntervalStartTime"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TimeReferenceCode" type="TimeReferenceCodeType"/>
	
	<xs:simpleType name="EventReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="EventReference" type="EventReferenceType"/>
	
	<xs:complexType name="RelativeTimeType">
		<xs:annotation>
			<xs:documentation>Specifies an absolute time relative to the start or end time of an event.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DelayTimeAmount" type="DurationType" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="TimeReferenceCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="EventReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RelativeTime" type="RelativeTimeType"/>
	
	<xs:complexType name="SimulationTimeType">
		<xs:annotation>
			<xs:documentation>A time measured as a time duration since the time instant of the scenario start.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DelayTimeAmount" type="DurationType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SimulationTime" type="SimulationTimeType"/>
	
	<xs:complexType name="TimeInstantType">
		<xs:choice>
			<xs:element ref="DateTime"/>
			<xs:element ref="RelativeTime"/>
			<xs:element ref="SimulationTime"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="DetectionTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Detection"/>
			<xs:enumeration value="Discovery"/>
			<xs:enumeration value="Identification"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DetectionTypeCode" type="DetectionTypeCodeType"/>

	<xs:complexType name="LevelOfAutonomyType">
		<xs:sequence>
			<xs:element name="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LevelOfAutonomy" type="LevelOfAutonomyType"/>
	<xs:simpleType name="LevelOfAutonomyCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LoA-0"/>
			<xs:enumeration value="LoA-1"/>
			<xs:enumeration value="LoA-2"/>
			<xs:enumeration value="LoA-3"/>
			<xs:enumeration value="LoA-4"/>
			<xs:enumeration value="LoA-5"/>
			<xs:enumeration value="LoA-6"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TacticalAttitudeCodeType">
		<xs:annotation>
			<xs:documentation>The specific operational attitude to be adopted for a mission</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AWARE"/>
			<xs:enumeration value="CARELESS"/>
			<xs:enumeration value="STEALTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TacticalAttitudeCode" type="TacticalAttitudeCodeType"/>
	
	<xs:simpleType name="EntityTypeStringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:simpleType name="SIDCStringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:complexType name="APP6-SIDCType">
		<xs:sequence>
			<xs:element name="EntityTypeString" type="EntityTypeStringType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SIDCString" type="SIDCStringType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EntityTypeType">
		<xs:choice>
			<xs:element name="APP6-SIDC"/>
			<xs:element name="DISEntityType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:simpleType name="CountType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	
	<xs:complexType name="ConsumableMaterialType">
		<xs:annotation>
			<xs:documentation>Physical assets that are significant to the exercise but that are inanimate and do not perform actions by themselves. They are consumable resources, such as food or ammunition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EntityType" type="EntityTypeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Count" type="CountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation>A physical object that is normally part of an entity. For example an uncrewed gun.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EntityType" type="EntityTypeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Count" type="CountType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ResourceType">
		<xs:choice>
			<xs:element name="ConsumableMaterial" type="ConsumableMaterialType"/>
			<xs:element name="Equipment" type="EquipmentType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResourcesType">
		<xs:annotation>
			<xs:documentation>A level of personnel, equipment, ammunition, fuel, etc. The user must compare this to the full strength of the unit.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Resource" type="ResourceType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="HeightType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	
	<xs:simpleType name="LengthType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	
	<xs:simpleType name="WidthType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	
	<xs:complexType name="BoundingBoxType">
		<xs:annotation>
			<xs:documentation>A rectangle in 2D space containing the two-dimensional extent of an entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Length" type="LengthType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Width" type="WidthType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BoundingVolumeType">
		<xs:annotation>
			<xs:documentation>A rectangular volume of 3D space containing the physical extend of an entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Height" type="HeightType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Length" type="LengthType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Width" type="WidthType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ExtentVerticesType">
		<xs:annotation>
			<xs:documentation>The locations of multiple vertices defining the space occupied by an entity. For example, points on a multi-point line or a convex hull. These vertices are in a specific order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Location" type="LocationType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HandlesType">
		<xs:annotation>
			<xs:documentation>The locations of the special locations that define the shape of a physical object. For example, the tip of an arrow head graphic, a side point defining the arrow head width, and a bottom point defining its length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Location" type="LocationType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PhysicalExtentType">
		<xs:choice>
			<xs:element name="BoundingBox" type="BoundingBoxType"/>
			<xs:element name="BoundingVolume" type="BoundingVolumeType"/>
			<xs:element name="ExtentVertices" type="ExtentVerticesType"/>
			<xs:element name="Handles" type="HandlesType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="PhysicalStateType">
		<xs:annotation>
			<xs:documentation>Description of the physical state of an entity, including location, orientation, health, speed, etc.
				Note that an EnvironmentalState class should be a subclass of PhysicalState. The EnvironmentalState could be the state of, for example, a smoke plume, which would have a location and could have direction, orientation, and speed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Location" type="LocationType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PhysicalExtent" type="PhysicalExtentType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DirectionOfMovement" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EntityHealthStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Orientation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Speed" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EntityStateType">
		<xs:choice>
			<xs:element name="PhysicalState" type="PhysicalStateType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:simpleType name="AllegianceToType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="CommunicationsNetworkType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="AffiliatedWithType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SuperiorType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="SideType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:complexType name="EntityDescriptorType">
		<xs:annotation>
			<xs:documentation>The Descriptor defines static attributes of an entity, i.e. that do not change during the course of the simulation. This information is provided at initialization time.
				
				The friend/hostile/... relationship of this entity with others can be specfied with hasAllegianceRelationship properties, to define specific and possibly asymmetric relations with other enitities.
				
				The isAffiliatedWith property defines organizations that this entity is affiliated with. These organizations are abstract; they are not actors.
				
				C2 structures can be defined by using the hasSuperior property.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AllegianceTo" type="AllegianceToType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CommunicationsNetwork" type="CommunicationsNetworkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AffiliatedWith" type="AffiliatedWithType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Superior" type="SuperiorType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Side" type="SideType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UAVType">
		<xs:annotation>
			<xs:documentation>Unmanned Autonomous Air Vehicle, like a drone, which elaborates environmental data from sensors feeds,  performs tasks and interacts with humans according to a defined Level of Autonomy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrentState" type="EntityStateType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Resource" type="ResourceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EntityDescriptor" type="EntityDescriptorType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CurrentTask" type="CurrentTaskType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EntityType" type="EntityTypeType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="UUID" type="UUIDType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UAV" type="UAVType"/>

	<xs:simpleType name="SensorCodeType">
		<xs:annotation>
			<xs:documentation>Code for the type (technology) of sensor on board of a platform or UAxS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EO"/>
			<xs:enumeration value="IR"/>
			<xs:enumeration value="LID"/>
			<xs:enumeration value="SAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SensorCode" type="SensorCodeType"/>

	<xs:simpleType name="TTPCodeType">
		<xs:annotation>
			<xs:documentation>A Technical Tactical Procedure code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CIR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TTPCode" type="TTPCodeType"/>

	<xs:simpleType name="UAVFlightFormationCodeType">
		<xs:annotation>
			<xs:documentation>The specific flight formation of a SWARM of UAVs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UAVColumn"/>
			<xs:enumeration value="UAVDelta"/>
			<xs:enumeration value="UAVLinear"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UAVFlightFormationShiftType">
		<xs:restriction base="xs:integer"/>
		<!-- FCpatch03_26_19-->
	</xs:simpleType>
	<xs:complexType name="UAVFlightFormationType">
		<xs:sequence>
			<xs:element name="UAVFlightFormationCode" type="UAVFlightFormationCodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UAVFlightFormationShift" type="UAVFlightFormationShiftType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UAVFlightFormation" type="UAVFlightFormationType"/>

	<xs:simpleType name="BatteryPercentageType">
		<xs:restriction base="percentageType"/>
	</xs:simpleType>
	<xs:element name="BatteryPercentage" type="BatteryPercentageType"/>

	<xs:simpleType name="LinkPercentageType">
		<xs:restriction base="percentageType"/>
	</xs:simpleType>
	<xs:element name="LinkPercentage" type="LinkPercentageType"/>

	<xs:simpleType name="CurrentTaskType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="CurrentTask" type="CurrentTaskType"/>

	<xs:simpleType name="SuggestedTaskType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="SuggestedTask" type="SuggestedTaskType"/>

	<xs:simpleType name="OrderIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="RequestingEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>

	<xs:complexType name="OrderBodyType">
		<xs:annotation>
			<xs:documentation>The structure for sending order messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FromSender" type="FromSenderType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ToReceiver" type="ToReceiverType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Task" type="TaskType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="IssuedTime" type="TimeInstantType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OrderID" type="OrderIDType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RequestingEntity" type="RequestingEntityType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericCountry"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="EthnicGroupCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericEthnicGroup"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ReligiousOrganizationCodeType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="GenericReligiousOrganization"/>
	</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="OrganizationCodeType">
		<xs:choice>
			<xs:element name="CountryCode" type="CountryCodeType"/>
			<xs:element name="EthnicGroupCode" type="EthnicGroupCodeType"/>
			<xs:element name="ReligiousOrganizationCode" type="ReligiousOrganizationCodeType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RouteType"><!-- JMPptach16Feb19 -->
		<xs:sequence>
			<xs:element name="RouteLocation" type="CoordinateType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ManeuverWarfareTaskType">
		<xs:annotation>
			<xs:documentation>A task containing the who, what, where, when, why of a ground maneuver task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DesiredEffectCode" type="DesiredEffectCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaskNameCode" type="TaskNameCodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Duration" type="DurationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndTime" type="DateTimeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StartTime" type="DateTimeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AffectedEntity" type="AffectedEntityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PerformingEntity" type="PerformingEntityType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TaskFunctionalAssociationCode" type="TaskFunctionalAssociationCodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FunctionalAssociationWithTask" type="FunctionalAssociationWithTaskType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Location" type="LocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Route" minOccurs="0"/><!-- dJMPptach16Feb19 -->
			<xs:element name="MapGraphicID" type="MapGraphicIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UUID" type="UUIDType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AutonomousSystemManeuverWarfareTaskType">
		<xs:annotation>
			<xs:documentation>A task containing the who, what, where, when, why of a ground maneuver task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DesiredEffectCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaskNameCode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Duration" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StartTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AffectedEntity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PerformingEntity" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Location" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Route" minOccurs="0"/>
			<!-- JMPpatch16Feb19 -->
			<xs:element name="MapGraphicID" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UUID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Name" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaskFunctionalAssociationCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FunctionalAssociationWithTask" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SensorCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TTPCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TacticalAttitudeCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UAVFlightFormation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TaskType">
		<xs:choice>
			<xs:element name="ManeuverWarfareTask" 
type="ManeuverWarfareTaskType"/>
			<xs:element name="AutonomousSystemManeuverWarfareTask" type="AutonomousSystemManeuverWarfareTaskType"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="DesiredEffectCodeType">
		<xs:annotation>
			<xs:documentation>A code describing the intended effect of a task.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BURN"/>
			<xs:enumeration value="CAPTRD"/>
			<xs:enumeration value="CONS"/>
			<xs:enumeration value="DSTRYK"/>
			<xs:enumeration value="FKIL"/>
			<xs:enumeration value="FLIG"/>
			<xs:enumeration value="GenericEffect"/>
			<xs:enumeration value="IDNT"/>
			<xs:enumeration value="ILLUMN"/>
			<xs:enumeration value="INTREC"/>
			<xs:enumeration value="KILL"/>
			<xs:enumeration value="LDAM"/>
			<xs:enumeration value="LGTRST"/>
			<xs:enumeration value="LOST"/>
			<xs:enumeration value="MKIL"/>
			<xs:enumeration value="MODDAM"/>
			<xs:enumeration value="NBCAS"/>
			<xs:enumeration value="NKN"/>
			<xs:enumeration value="NORSTN"/>
			<xs:enumeration value="NOS"/>
			<xs:enumeration value="NUTRLD"/>
			<xs:enumeration value="SDAM"/>
			<xs:enumeration value="SUPRSD"/>
			<xs:enumeration value="WNDD"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TaskNameCodeType">
		<xs:annotation>
			<xs:documentation>The activity to be performed in the task, e.g. Move, Observe, Assist.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACQUIR"/>
			<xs:enumeration value="ADVANC"/>
			<xs:enumeration value="AIRDEF"/>
			<xs:enumeration value="AMBUSH"/>
			<xs:enumeration value="ARASLT"/>
			<xs:enumeration value="ASSMBL"/>
			<xs:enumeration value="ATTACK"/>
			<xs:enumeration value="ATTRIT"/>
			<xs:enumeration value="ATTSPT"/>
			<xs:enumeration value="AVOID"/>
			<xs:enumeration value="AssistOtherUnit"/>
			<xs:enumeration value="BLOCK"/>
			<xs:enumeration value="BREACH"/>
			<xs:enumeration value="BYPASS"/>
			<xs:enumeration value="CAPTUR"/>
			<xs:enumeration value="CLOSE"/>
			<xs:enumeration value="CLRLND"/>
			<xs:enumeration value="CLROBS"/>
			<xs:enumeration value="CNFPSL"/>
			<xs:enumeration value="CNRPSL"/>
			<xs:enumeration value="COVER"/>
			<xs:enumeration value="CRESRV"/>
			<xs:enumeration value="CTRATK"/>
			<xs:enumeration value="CTRBYF"/>
			<xs:enumeration value="CTRFIR"/>
			<!-- next line added v5 JMP-->
			<xs:enumeration value="DEBARK"/>
			<xs:enumeration value="DECEIV"/>
			<xs:enumeration value="DEFEAT"/>
			<xs:enumeration value="DEFEND"/>
			<xs:enumeration value="DELAY"/>
			<xs:enumeration value="DENY"/>
			<xs:enumeration value="DESTRY"/>
			<xs:enumeration value="DISENG"/>
			<xs:enumeration value="DISRPT"/>
			<xs:enumeration value="DLBATK"/>
			<xs:enumeration value="DRONL"/>
			<!-- next line added v5 JMP-->
			<xs:enumeration value="EMBARK"/>
			<xs:enumeration value="ENGAGE"/>
			<xs:enumeration value="ENVLP"/>
			<xs:enumeration value="EXPLT"/>
			<xs:enumeration value="FIX"/>
			<xs:enumeration value="GUARD"/>
			<xs:enumeration value="HARASS"/>
			<xs:enumeration value="HASTY"/>
			<xs:enumeration value="HONASP"/>
			<xs:enumeration value="HoldInPlace"/>
			<xs:enumeration value="INFILT"/>
			<xs:enumeration value="INTDCT"/>
			<xs:enumeration value="ISOLAT"/>
			<xs:enumeration value="LOCATE"/>
			<xs:enumeration value="MEDEVC"/>
			<xs:enumeration value="MOPUP"/>
			<xs:enumeration value="MOVE"/>
			<xs:enumeration value="MoveToLocation"/>
			<xs:enumeration value="OBSCUR"/>
			<xs:enumeration value="OBSRV"/>
			<xs:enumeration value="OCCUPY"/>
			<xs:enumeration value="Observe"/>
			<xs:enumeration value="OrientToLocation"/>
			<xs:enumeration value="PATROL"/>
			<xs:enumeration value="PENTRT"/>
			<xs:enumeration value="PLAN"/>
			<xs:enumeration value="PREFIR"/>
			<xs:enumeration value="PURSUE"/>
			<xs:enumeration value="RECCE"/>
			<xs:enumeration value="RECONS"/>
			<xs:enumeration value="RECOVR"/>
			<xs:enumeration value="REFUEL"/>
			<xs:enumeration value="REINF"/>
			<xs:enumeration value="RESCUE"/>
			<xs:enumeration value="RESUPL"/>
			<xs:enumeration value="RETAIN"/>
			<xs:enumeration value="RLFPLC"/>
			<xs:enumeration value="ReportPosition"/>
			<xs:enumeration value="SCREEN"/>
			<xs:enumeration value="SECURE"/>
			<xs:enumeration value="SEIZE"/>
			<xs:enumeration value="SUPPRS"/>
			<xs:enumeration value="SUPPRT"/>
			<xs:enumeration value="THREAT"/>
			<xs:enumeration value="TURN"/>
			<xs:enumeration value="UseCapability"/>
			<xs:enumeration value="ESCFIR"/>
			<xs:enumeration value="ESCORT"/>
			<xs:enumeration value="FIRE"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="JAMM"/>
			<xs:enumeration value="SEAFOL"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IsoTimeDurationBaseType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[P]{1}[0-9]{2}[Y]{1}[M]{1}[0-9]{2}[D]{1}[0-9]{2}[H]{1}[0-9]{2}[M]{1}[0-9]{2}[S]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IsoTimeDurationType">
		<xs:restriction base="IsoTimeDurationBaseType"/>
	</xs:simpleType>
	<xs:complexType name="DurationType">
		<xs:annotation>
			<xs:documentation>A time duration expressed in ISO 8601:2000 duration format PnYnMnDTnHnMnS e.g. P00Y00M00DT00H00M00S. Note that this does not support fractions of seconds. From MSDL simple types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IsoTimeDuration" type="IsoTimeDurationType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AffectedEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>

	<xs:simpleType name="PerformingEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>

	<xs:simpleType name="TaskFunctionalAssociationCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="FunctionalAssociationWithTaskType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>

	<xs:simpleType name="latitudeType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="-90.0"/>
			<xs:maxInclusive value="90.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LatitudeType">
		<xs:annotation>
			<xs:documentation>This should have a range specified of -90 to +90 (degrees)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="latitudeType"/>
	</xs:simpleType>
	<xs:simpleType name="longitudeType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="-180.0"/>
			<xs:maxInclusive value="180.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="percentageType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LongitudeType">
		<xs:annotation>
			<xs:documentation>This should have a range specified of -180 to +180 (degrees)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="longitudeType"/>
	</xs:simpleType>
	<xs:simpleType name="AltitudeAGLType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="AltitudeMSLType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="spatialMeasuresType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AngleType">
		<xs:restriction base="spatialMeasuresType"/>
	</xs:simpleType>

	<xs:complexType name="GeodeticCoordinateType">
		<xs:sequence>
			<xs:element name="Latitude" type="LatitudeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Longitude" type="LongitudeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AltitudeAGL" type="AltitudeAGLType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AltitudeMSL" type="AltitudeMSLType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="XType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="YType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="ZType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="GeodeticCoordinate" type="GeodeticCoordinateType"/>
	
	<xs:complexType name="CartesianOffsetType">
		<xs:annotation>
			<xs:documentation>A spatial offset expressed in geocentric coordinates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="X" type="XType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Y" type="YType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Z" type="ZType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CartesianOffset" type="CartesianOffsetType"/>
	<xs:complexType name="SpatialOffsetType">
		<xs:choice>
			<xs:element ref="CartesianOffset"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CoordinateType">
		<xs:choice>
			<xs:element ref="GeodeticCoordinate"/>
			<xs:element ref="GeocentricCoordinateValue"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GeocentricCoordinateValueType">
		<xs:sequence>
			<xs:element name="X" type="XType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Y" type="YType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Z" type="ZType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LocationReferenceEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="GeocentricCoordinateValue" type="GeocentricCoordinateValueType"/>
	<xs:complexType name="EntityDefinedLocationType">
		<xs:annotation>
			<xs:documentation>A location defined by the location of a ConcreteEntity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LocationReferenceEntity" type="LocationReferenceEntityType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelativeLocationType">
		<xs:annotation>
			<xs:documentation>A location defined by an offset to some reference location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpatialOffset" type="SpatialOffsetType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EntityReference" type="EntityReferenceType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EntityReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:complexType name="LocationType">
		<xs:choice>
			<xs:element name="Coordinate" type="CoordinateType"/>
			<xs:element name="EntityDefinedLocation" type="EntityDefinedLocationType"/>
			<xs:element name="RelativeLocation" type="RelativeLocationType"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="MapGraphicIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>

	<xs:simpleType name="UUIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	
	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

</xs:schema>
