Software/Client/C2SIMGUI/Schema/C2SIM/ASX_v1.9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
	xmlns="http://www.sisostds.org/schemas/C2SIM/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
	targetNamespace="http://www.sisostds.org/schemas/C2SIM/1.1" elementFormDefault="qualified"
	attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:annotation>
		<xs:documentation xml:lang="en">C2SIM schema derived from the Core ontology plus any extensions.</xs:documentation>
	</xs:annotation>
	<xs:element name="Message" type="MessageType"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">***************************************************************** SIMPLE TYPES DERIVED FROM ONTOLOGY DATA TYPES *****************************************************************</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="IsoDateTimeBaseType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}[T]{1}[0-9]{2}:[0-9]{2}:[0-9]{2}[Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IsoTimeDurationBaseType">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[P]{1}[0-9]{2}[Y]{1}[M]{1}[0-9]{2}[D]{1}[0-9]{2}[H]{1}[0-9]{2}[M]{1}[0-9]{2}[S]{1}"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UUIDBaseType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-z]{8}\-[0-9a-z]{4}\-[0-9a-z]{4}\-[0-9a-z]{4}\-[0-9a-z]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="angleType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="-180.0"/>
			<xs:maxInclusive value="180.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="entityTypeStringType">
		<xs:annotation>
			<xs:documentation>A string, possibly with several separated fields that can each hold an enumeration, thus identifying a category at each level of a hierarchy.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="latitudeType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="-90.0"/>
			<xs:maxInclusive value="90.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="longitudeType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="-180.0"/>
			<xs:maxInclusive value="180.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="percentageType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UAVFlightFormationShiftType">
		<xs:restriction base="xs:integer"/>
		<!-- FCpatch03_26_19-->
	</xs:simpleType>
	<xs:element name="UAVFlightFormationShift" type="UAVFlightFormationShiftType"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">********************************************************************** SIMPLE TYPES DERIVED FROM ONTOLOGY DATA PROPERTIES **********************************************************************</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AbstractObjectReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="AbstractObjectReference" type="AbstractObjectReferenceType"/>
	<xs:simpleType name="AbstractOrganizationReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="AbstractOrganizationReference" type="AbstractOrganizationReferenceType"/>
	<xs:simpleType name="ActionReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ActionReference" type="ActionReferenceType"/>
	<xs:simpleType name="ActorReferenceType">
		<xs:annotation>
			<xs:documentation>These references should be to objects of class Actor, or subclasses.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ActorReference" type="ActorReferenceType"/>
	<xs:simpleType name="AffectedEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="AffectedEntity" type="AffectedEntityType"/>
	<xs:simpleType name="AllegianceToType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="AllegianceTo" type="AllegianceToType"/>
	<xs:simpleType name="AltitudeType">
		<xs:restriction base="spatialMeasuresType"/>
	</xs:simpleType>
	<xs:element name="Altitude" type="AltitudeType"/>
	<xs:simpleType name="AltitudeAGLType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="AltitudeAGL" type="AltitudeAGLType"/>
	<xs:simpleType name="AltitudeMSLType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="AltitudeMSL" type="AltitudeMSLType"/>
	<xs:simpleType name="AngleType">
		<xs:restriction base="spatialMeasuresType"/>
	</xs:simpleType>
	<xs:element name="Angle" type="AngleType"/>
	<xs:simpleType name="CommentType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Comment" type="CommentType"/>
	<xs:simpleType name="CommunicationsNetworkType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="CommunicationsNetwork" type="CommunicationsNetworkType"/>
	<xs:simpleType name="ConcreteEntityReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ConcreteEntityReference" type="ConcreteEntityReferenceType"/>
	<xs:simpleType name="ConversationIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ConversationID" type="ConversationIDType"/>
	<xs:simpleType name="CoordinateValueType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="CoordinateValue" type="CoordinateValueType"/>
	<xs:simpleType name="CountType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:element name="Count" type="CountType"/>
	<xs:simpleType name="CurrentTaskType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="CurrentTask" type="CurrentTaskType"/>
	<xs:simpleType name="DepthType">
		<xs:annotation>
			<xs:documentation>This is a measure of distance below mean sea level, i.e. positive is down.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Depth" type="DepthType"/>
	<xs:simpleType name="DistanceType">
		<xs:restriction base="spatialMeasuresType"/>
	</xs:simpleType>
	<xs:element name="Distance" type="DistanceType"/>
	<xs:simpleType name="EntityReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="EntityReference" type="EntityReferenceType"/>
	<xs:simpleType name="EntityTypeStringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="EntityTypeString" type="EntityTypeStringType"/>
	<xs:simpleType name="EventReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="EventReference" type="EventReferenceType"/>
	<xs:simpleType name="HealthStatusType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="HealthStatus" type="HealthStatusType"/>
	<xs:simpleType name="HeightType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Height" type="HeightType"/>
	<xs:simpleType name="IntializationFileTypeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="IntializationFileType" type="IntializationFileTypeType"/>
	<xs:simpleType name="IsoDateTimeType">
		<xs:restriction base="IsoDateTimeBaseType"/>
	</xs:simpleType>
	<xs:element name="IsoDateTime" type="IsoDateTimeType"/>
	<xs:simpleType name="IsoTimeDurationType">
		<xs:restriction base="IsoTimeDurationBaseType"/>
	</xs:simpleType>
	<xs:element name="IsoTimeDuration" type="IsoTimeDurationType"/>
	<xs:simpleType name="LatitudeType">
		<xs:annotation>
			<xs:documentation>This should have a range specified of -90 to +90 (degrees)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="latitudeType"/>
	</xs:simpleType>
	<xs:element name="Latitude" type="LatitudeType"/>
	<xs:simpleType name="LengthType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Length" type="LengthType"/>
	<xs:simpleType name="LocationReferenceEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="LocationReferenceEntity" type="LocationReferenceEntityType"/>
	<xs:simpleType name="LongitudeType">
		<xs:annotation>
			<xs:documentation>This should have a range specified of -180 to +180 (degrees)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="longitudeType"/>
	</xs:simpleType>
	<xs:element name="Longitude" type="LongitudeType"/>
	<xs:simpleType name="MapGraphicIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="MapGraphicID" type="MapGraphicIDType"/>
	<xs:simpleType name="MarkingType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Marking" type="MarkingType"/>
	<xs:simpleType name="MessageIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="MessageID" type="MessageIDType"/>
	<xs:simpleType name="MessagingDataPropertyType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="MessagingDataProperty" type="MessagingDataPropertyType"/>
	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Name" type="NameType"/>
	<xs:simpleType name="NotificationTypeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="NotificationType" type="NotificationTypeType"/>
	<xs:simpleType name="NumberOfOrganizationsType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:element name="NumberOfOrganizations" type="NumberOfOrganizationsType"/>
	<xs:simpleType name="OrderIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="OrderID" type="OrderIDType"/>
	<xs:simpleType name="PerformingEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="PerformingEntity" type="PerformingEntityType"/>
	<xs:simpleType name="PhiType">
		<xs:restriction base="angleType"/>
	</xs:simpleType>
	<xs:element name="Phi" type="PhiType"/>
	<xs:simpleType name="ProtocolType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Protocol" type="ProtocolType"/>
	<xs:simpleType name="ProtocolVersionType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="ProtocolVersion" type="ProtocolVersionType"/>
	<xs:simpleType name="PsiType">
		<xs:restriction base="angleType"/>
	</xs:simpleType>
	<xs:element name="Psi" type="PsiType"/>
	<xs:simpleType name="ReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="Reference" type="ReferenceType"/>
	<xs:simpleType name="ReplyToSystemType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="ReplyToSystem" type="ReplyToSystemType"/>
	<xs:simpleType name="ReportingEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ReportingEntity" type="ReportingEntityType"/>
	<xs:simpleType name="RequestingEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="RequestingEntity" type="RequestingEntityType"/>
	<xs:simpleType name="SendingTimeType">
		<xs:annotation>
			<xs:documentation>The time that a message is sent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="IsoDateTimeBaseType"/>
	</xs:simpleType>
	<xs:element name="SendingTime" type="SendingTimeType"/>
	<xs:simpleType name="SpeedType">
		<xs:annotation>
			<xs:documentation>Speed in meters/second.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Speed" type="SpeedType"/>
	<xs:simpleType name="StrengthPercentageType">
		<xs:restriction base="percentageType"/>
	</xs:simpleType>
	<xs:element name="StrengthPercentage" type="StrengthPercentageType"/>
	<xs:simpleType name="SubjectEntityType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="SubjectEntity" type="SubjectEntityType"/>
	<xs:simpleType name="SubordinateType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="Subordinate" type="SubordinateType"/>
	<xs:simpleType name="SuperiorType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="Superior" type="SuperiorType"/>
	<xs:simpleType name="SystemNameType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="SystemName" type="SystemNameType"/>
	<xs:simpleType name="TaskReferenceType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="TaskReference" type="TaskReferenceType"/>
	<xs:simpleType name="ThetaType">
		<xs:restriction base="angleType"/>
	</xs:simpleType>
	<xs:element name="Theta" type="ThetaType"/>
	<xs:simpleType name="UUIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="UUID" type="UUIDType"/>
	<xs:simpleType name="UniqueIdentifierType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="UniqueIdentifier" type="UniqueIdentifierType"/>
	<xs:simpleType name="VersionType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Version" type="VersionType"/>
	<xs:simpleType name="WeatherPropertyType">
		<xs:annotation>
			<xs:documentation>Weather Property will have sub-properties for Atmosphere, Cloud Cover, Icing, Illumination, Precipitation, Visibility, Wind Speed and Direction, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="WeatherProperty" type="WeatherPropertyType"/>
	<xs:simpleType name="WidthType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Width" type="WidthType"/>
	<xs:simpleType name="XType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="X" type="XType"/>
	<xs:simpleType name="YType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Y" type="YType"/>
	<xs:simpleType name="ZType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:element name="Z" type="ZType"/>
	<xs:simpleType name="AffiliatedWithType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="AffiliatedWith" type="AffiliatedWithType"/>
	<xs:simpleType name="FriendlyToType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="FriendlyTo" type="FriendlyToType"/>
	<xs:simpleType name="FromSenderType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="FromSender" type="FromSenderType"/>
	<xs:simpleType name="FromSendingSystemType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="FromSendingSystem" type="FromSendingSystemType"/>
	<xs:simpleType name="HostileToType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="HostileTo" type="HostileToType"/>
	<xs:simpleType name="InReplyToMessageIDType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="InReplyToMessageID" type="InReplyToMessageIDType"/>
	<xs:simpleType name="NeutralToType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="NeutralTo" type="NeutralToType"/>
	<xs:simpleType name="ToReceiverType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ToReceiver" type="ToReceiverType"/>
	<xs:simpleType name="ToReceivingSystemType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="ToReceivingSystem" type="ToReceivingSystemType"/>
	<xs:simpleType name="spatialMeasuresType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="spatialMeasures" type="spatialMeasuresType"/>
	<xs:simpleType name="FunctionalAssociationWithTaskType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="FunctionalAssociationWithTask" type="FunctionalAssociationWithTaskType"/>
	<xs:simpleType name="PlanPhaseIdType">
		<xs:annotation>
			<xs:documentation>The unique ID of a PlanPhase.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="PlanPhaseId" type="PlanPhaseIdType"/>
	<xs:simpleType name="PlanPhaseReferenceType">
		<xs:annotation>
			<xs:documentation>A reference to a plan phase.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="PlanPhaseReference" type="PlanPhaseReferenceType"/>
	<xs:simpleType name="TriggerPhaseType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="TriggerPhase" type="TriggerPhaseType"/>
	<xs:simpleType name="ActiveType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:element name="Active" type="ActiveType"/>
	<xs:simpleType name="CompleteType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:element name="Complete" type="CompleteType"/>
	<xs:simpleType name="ConfidenceLevelType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="ConfidenceLevel" type="ConfidenceLevelType"/>
	<xs:simpleType name="DISCategoryType">
		<xs:annotation>
			<xs:documentation>Values for this property to be taken from the DIS standard, SISO-REF-010-2015</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DISCategory" type="DISCategoryType"/>
	<xs:simpleType name="DISCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DISCode" type="DISCodeType"/>
	<xs:simpleType name="DISExtraType">
		<xs:annotation>
			<xs:documentation>Values for this property to be taken from the DIS standard, SISO-REF-010-2015</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DISExtra" type="DISExtraType"/>
	<xs:simpleType name="DISSpecificType">
		<xs:annotation>
			<xs:documentation>Values for this property to be taken from the DIS standard, SISO-REF-010-2015</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DISSpecific" type="DISSpecificType"/>
	<xs:simpleType name="DISSubCategoryType">
		<xs:annotation>
			<xs:documentation>Values for this property to be taken from the DIS standard, SISO-REF-010-2015</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DISSubCategory" type="DISSubCategoryType"/>
	<xs:simpleType name="EchelonType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Echelon" type="EchelonType"/>
	<xs:simpleType name="HigherFormationType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="HigherFormation" type="HigherFormationType"/>
	<xs:simpleType name="ObservationSubjectType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="ObservationSubject" type="ObservationSubjectType"/>
	<xs:simpleType name="OwnerType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="Owner" type="OwnerType"/>
	<xs:simpleType name="SIDCStringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="SIDCString" type="SIDCStringType"/>
	<xs:simpleType name="SideType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="Side" type="SideType"/>
	<xs:simpleType name="SpecialC2HQType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="SpecialC2HQ" type="SpecialC2HQType"/>
	<xs:simpleType name="UncertaintyIntervalType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="UncertaintyInterval" type="UncertaintyIntervalType"/>
	<xs:simpleType name="BatteryPercentageType">
		<xs:restriction base="percentageType"/>
	</xs:simpleType>
	<xs:element name="BatteryPercentage" type="BatteryPercentageType"/>
	<xs:simpleType name="LinkPercentageType">
		<xs:restriction base="percentageType"/>
	</xs:simpleType>
	<xs:element name="LinkPercentage" type="LinkPercentageType"/>
	<xs:simpleType name="SuggestedTaskType">
		<xs:restriction base="UUIDBaseType"/>
	</xs:simpleType>
	<xs:element name="SuggestedTask" type="SuggestedTaskType"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">******************************************************************** ELEMENTS DERIVED FROM ONTOLOGY OBJECT PROPERTIES ********************************************************************</xs:documentation>
	</xs:annotation>
	<xs:element name="AbstractObject" type="AbstractObjectType"/>
	<xs:element name="AcknowledgeTypeCode" type="AcknowledgeTypeCodeType"/>
	<xs:element name="Action" type="ActionType">
		<xs:annotation>
			<xs:documentation>A reference to an Action (an Event or Task).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionCode" type="ActionCodeType"/>
	<xs:element name="C2SIMHeader" type="C2SIMHeaderType"/>
	<xs:element name="Code" type="CodeType"/>
	<xs:element name="" type="CommunicativeActTypeCodeType"/>
	<xs:element name="ConsumableMaterial" type="ConsumableMaterialType"/>
	<xs:element name="CountryCode" type="CountryCodeType"/>
	<xs:element name="CurrentState" type="EntityStateType"/>
	<xs:element name="DateTime" type="DateTimeType"/>
	<xs:element name="DelayTimeAmount" type="DurationType"/>
	<xs:element name="DesiredEffectCode" type="DesiredEffectCodeType"/>
	<xs:element name="DirectionOfMovement" type="OrientationType"/>
	<xs:element name="Duration" type="DurationType"/>
	<xs:element name="EndTime" type="DateTimeType">
		<xs:annotation>
			<xs:documentation>ending date and time with respect to the period of effectiveness of an action/task (C-BML)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Entity" type="EntityType">
		<xs:annotation>
			<xs:documentation>A generic relation to an instance of an Entity.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EntityDescriptor" type="EntityDescriptorType"/>
	<xs:element name="EntityHealthStatus" type="EntityHealthStatusType"/>
	<xs:element name="EntityState" type="EntityStateType"/>
	<xs:element name="EntityType" type="EntityTypeType"/>
	<xs:element name="EnvironmentalState" type="xs:string"/>
	<xs:element name="EthnicGroupCode" type="EthnicGroupCodeType"/>
	<xs:element name="EventCode" type="EventCodeType"/>
	<xs:element name="InitializationDataFile" type="InitializationDataFileType"/>
	<xs:element name="IssuedTime" type="TimeInstantType"/>
	<xs:element name="Location" type="LocationType"/>
	<xs:element name="MessageBody" type="MessageBodyType"/>
	<xs:element name="MessageHeader" type="xs:string"/>
	<xs:element name="ObjectDefinitions" type="ObjectDefinitionsType"/>
	<xs:element name="OperationalStatus" type="OperationalStatusType"/>
	<xs:element name="OperationalStatusCode" type="OperationalStatusCodeType"/>
	<xs:element name="OrganizationCode" type="OrganizationCodeType"/>
	<xs:element name="Orientation" type="OrientationType"/>
	<xs:element name="PhysicalExtent" type="PhysicalExtentType"/>
	<xs:element name="ReligiousOrganizationCode" type="ReligiousOrganizationCodeType"/>
	<xs:element name="ReportContent" type="ReportContentType"/>
	<xs:element name="Resource" type="ResourceType"/>
	<xs:element name="ScenarioSetting" type="ScenarioSettingType"/>
	<xs:element name="SecurityClassificationCode" type="SecurityClassificationCodeType"/>
	<xs:element name="SpatialOffset" type="SpatialOffsetType"/>
	<xs:element name="StartTime" type="DateTimeType">
		<xs:annotation>
			<xs:documentation>date/time at which an action/task is to begin (C-BML)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Strength" type="StrengthType"/>
	<xs:element name="SystemCommandTypeCode" type="SystemCommandTypeCodeType"/>
	<xs:element name="SystemEntityList" type="SystemEntityListType"/>
	<xs:element name="SystemStateCode" type="SystemStateCodeType"/>
	<xs:element name="Task" type="TaskType"/>
	<xs:element name="TaskNameCode" type="TaskNameCodeType"/>
	<xs:element name="TemporalConcept" type="TemporalConceptType"/>
	<xs:element name="TimeInstant" type="TimeInstantType"/>
	<xs:element name="TimeOfObservation" type="DateTimeType"/>
	<xs:element name="TimeReferenceCode" type="TimeReferenceCodeType"/>
	<xs:element name="Event" type="EventType"/>
	<xs:element name="PlanPhase" type="PlanPhaseType"/>
	<xs:element name="PlanPhaseCompletionCondition" type="PlanPhaseCompletionConditionType"/>
	<xs:element name="PlanPhaseTrigger" type="PlanPhaseTriggerType"/>
	<xs:element name="SubPhase" type="PlanPhaseType"/>
	<xs:element name="TaskFunctionalAssociationCode" type="TaskFunctionalAssociationCodeType"/>
	<xs:element name="APP6-SIDC" type="APP6-SIDCType"/>
	<xs:element name="AircraftTypeCategoryCode" type="AircraftTypeCategoryCodeType"/>
	<xs:element name="AmmunitionTypeCategoryCode" type="AmmunitionTypeCategoryCodeType"/>
	<xs:element name="CombatEffectiveness" type="ConsumableMaterialType"/>
	<xs:element name="DISCountryCode" type="DISCountryCodeType"/>
	<xs:element name="DISDomainCode" type="DISDomainCodeType"/>
	<xs:element name="DISKindCode" type="DISKindCodeType"/>
	<xs:element name="DISTypeCode" type="DISTypeCodeType"/>
	<xs:element name="EchelonCode" type="EchelonCodeType"/>
	<xs:element name="Observation" type="ObservationType"/>
	<xs:element name="PersonTypeCategoryCode" type="PersonTypeCategoryCodeType"/>
	<xs:element name="ReinforcedReducedType" type="ReinforcedReducedTypeType"/>
	<xs:element name="SideHostilityCode" type="SideHostilityCodeType"/>
	<xs:element name="SubsurfaceVesselTypeCode" type="SurfaceVesselTypeCodeType"/>
	<xs:element name="SupportingTaskCode" type="TaskNameCodeType"/>
	<xs:element name="SurfaceVesselTypeCode" type="SurfaceVesselTypeCodeType"/>
	<xs:element name="VehicleTypeCategoryCode" type="VehicleTypeCategoryCodeType"/>
	<xs:element name="WeaponTypeCategoryCode" type="WeaponTypeCategoryCodeType"/>
	<xs:element name="DetectionTypeCode" type="DetectionTypeCodeType"/>
	<xs:element name="LevelOfAutonomyCode" type="LevelOfAutonomyCodeType"/>
	<xs:element name="SensorCode" type="SensorCodeType"/>
	<xs:element name="TTPCode" type="TTPCodeType"/>
	<xs:element name="TacticalAttitudeCode" type="TacticalAttitudeCodeType"/>
	<xs:element name="UAVFlightFormationCode" type="UAVFlightFormationCodeType"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">********************************************************************************* COMPLEX TYPES AND MODEL GROUOPS DERIVED FROM ONTOLOGY CLASSES *********************************************************************************</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LineType">
		<xs:sequence>
			<xs:group ref="TacticalGraphicGroup"/>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Line" type="LineType"/>
	<xs:complexType name="NBC_EventType">
		<xs:sequence>
			<xs:group ref="TacticalGraphicGroup"/>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NBC_Event" type="NBC_EventType"/>
	<xs:complexType name="PointType">
		<xs:sequence>
			<xs:group ref="TacticalGraphicGroup"/>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Point" type="PointType"/>
	<xs:complexType name="TacticalAreaType">
		<xs:sequence>
			<xs:group ref="TacticalGraphicGroup"/>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TacticalArea" type="TacticalAreaType"/>
	<xs:complexType name="TaskGraphicType">
		<xs:sequence>
			<xs:group ref="TacticalGraphicGroup"/>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TaskGraphic" type="TaskGraphicType"/>
	<xs:group name="AbstractObjectGroup">
		<xs:annotation>
			<xs:documentation>An AbstractObject is an object in the system that does not have the full characteristics of an entity. For example, it does not have a location or an extent. It does however have a unique identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="UUID" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AbstractObjectType">
		<xs:choice>
			<xs:element ref="AbstractOrganization"/>
			<xs:element ref="CommunicationNetwork"/>
			<xs:element ref="Overlay"/>
			<xs:element ref="ForceSide"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AbstractOrganizationType">
		<xs:annotation>
			<xs:documentation>A group that an actor can be affiliated with. Does not perform any actions and does not have a specific location.
Subclasses of this class can be created for country, religion, etc. Each of these will have defined instances (one for each country, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AbstractObjectGroup"/>
			<xs:element ref="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="EthnicGroupCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ReligiousOrganizationCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AbstractOrganization" type="AbstractOrganizationType"/>
	<xs:simpleType name="AcknowledgeTypeCodeType">
		<xs:annotation>
			<xs:documentation>Enumeration of different types of acknowledgements.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACKFAIL"/>
			<xs:enumeration value="ACKNOTEX"/>
			<xs:enumeration value="ACKNOTREC"/>
			<xs:enumeration value="ACKNOTUNDSTD"/>
			<xs:enumeration value="ACKRCVD"/>
			<xs:enumeration value="ACKSUCC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AcknowledgementBodyType">
		<xs:annotation>
			<xs:documentation>The structure for sending acknowledgement messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AcknowledgeTypeCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Comment" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcknowledgementBody" type="AcknowledgementBodyType"/>
	<xs:complexType name="RouteType">
		<xs:sequence>
			<xs:element name="RouteLocation" type="CoordinateType" minOccurs="1"
				maxOccurs="unbounded"/>
		</xs:sequence>
		<!-- JMPpatch16Feb19 -->
	</xs:complexType>
	<xs:element name="Route" type="RouteType"/>
	<!-- JMPpatch16Feb19 -->
	<xs:group name="ActionGroup">
		<xs:annotation>
			<xs:documentation>Any occurrence that occurs at a moment in time or over a period of time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Location" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Route" minOccurs="0"/>
			<!-- dJMPpatch16Feb19 -->
			<xs:element ref="MapGraphicID" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="UUID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ActionType">
		<xs:choice>
			<xs:element ref="Event"/>
			<xs:element ref="Task"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ActionCodeType">
		<xs:choice>
			<xs:element ref="EventCode"/>
			<xs:element ref="TaskNameCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="ActorEntityGroup">
		<xs:annotation>
			<xs:documentation>An ActorEntity is an entity that can send/receive orders and reports and/or perform tasks.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Resource" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="EntityDescriptor" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="CurrentTask" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ActorEntityType">
		<xs:choice>
			<xs:element ref="CollectiveEntity"/>
			<xs:element ref="Person"/>
			<xs:element ref="Platform"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="ActorEntity" type="ActorEntityType"/>
	<xs:complexType name="BoundingBoxType">
		<xs:annotation>
			<xs:documentation>A rectangle in 2D space containing the two-dimensional extent of an entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Length" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Width" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BoundingBox" type="BoundingBoxType"/>
	<xs:complexType name="BoundingVolumeType">
		<xs:annotation>
			<xs:documentation>A rectangular volume of 3D space containing the physical extend of an entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Height" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Length" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Width" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BoundingVolume" type="BoundingVolumeType"/>
	<xs:complexType name="C2SIMContentType">
		<xs:choice>
			<xs:element ref="AbstractObject"/>
			<xs:element ref="Action"/>
			<xs:element ref="Code"/>
			<xs:element ref="Entity"/>
			<xs:element ref="EntityDescriptor"/>
			<xs:element ref="EntityState"/>
			<xs:element ref="EntityType"/>
			<xs:element ref="PhysicalConcept"/>
			<xs:element ref="Resource"/>
			<xs:element ref="PlanPhase"/>
			<xs:element ref="PlanPhaseTrigger"/>
			<xs:element ref="Observation"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="C2SIMContent" type="C2SIMContentType"/>
	<xs:complexType name="C2SIMHeaderType">
		<xs:annotation>
			<xs:documentation>Indicates that the receiving system should submit its initialization data to the system identified in the</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CommunicativeActTypeCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="SecurityClassificationCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ConversationID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="MessageID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Protocol" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ProtocolVersion" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ReplyToSystem" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SendingTime" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="FromSendingSystem" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ToReceivingSystem" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="InReplyToMessageID" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C2SIMInitializationBodyType">
		<xs:annotation>
			<xs:documentation>This message can initialize all of the objects in the scenario as well as the scenario setting.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="InitializationDataFile" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ObjectDefinitions" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="SystemEntityList" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="ScenarioSetting" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="C2SIMInitializationBody" type="C2SIMInitializationBodyType"/>
	<xs:complexType name="CartesianOffsetType">
		<xs:annotation>
			<xs:documentation>A spatial offset expressed in geocentric coordinates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="X" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Y" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Z" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CartesianOffset" type="CartesianOffsetType"/>
	<xs:complexType name="CodeType">
		<xs:choice>
			<xs:element ref="ActionCode"/>
			<xs:element ref="DesiredEffectCode"/>
			<xs:element ref="OperationalStatusCode"/>
			<xs:element ref="OrganizationCode"/>
			<xs:element ref="SecurityClassificationCode"/>
			<xs:element ref="SystemStateCode"/>
			<xs:element ref="TimeReferenceCode"/>
			<xs:element ref="PlanPhaseCompletionCondition"/>
			<xs:element ref="TaskFunctionalAssociationCode"/>
			<xs:element ref="DISTypeCode"/>
			<xs:element ref="EchelonCode"/>
			<xs:element ref="MIPCategoryCode"/>
			<xs:element ref="ReinforcedReducedType"/>
			<xs:element ref="SideHostilityCode"/>
			<xs:element ref="DetectionTypeCode"/>
			<xs:element ref="LevelOfAutonomyCode"/>
			<xs:element ref="SensorCode"/>
			<xs:element ref="TTPCode"/>
			<xs:element ref="TacticalAttitudeCode"/>
			<xs:element ref="UAVFlightFormationCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="CollectiveEntityGroup">
		<xs:annotation>
			<xs:documentation>This is an Entity that is normally thought of as having constituent entities, i.e. a Unit.

CollectiveEntities may or may not hve their subordinates explicitly represented in the exercise (i.e., it may always be aggregated, or it may have subordinates that are themselves entities).  If they are represented, then the hasSubordinate property will have at least one instance.

The CollectivEntity may be an abstract actor, or it may have physical properties; if the latter, then the hasCurrentState property is present with a PhysicalState.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CurrentState" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Subordinate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="CollectiveEntityType">
		<xs:choice>
			<xs:element ref="MilitaryOrganization"/>
			<xs:element ref="NonMilitaryOrganization"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="CollectiveEntity" type="CollectiveEntityType"/>
	<xs:complexType name="CommunicationNetworkType">
		<xs:annotation>
			<xs:documentation>An specific network over which an entity communicates. A logical entity. Will have data properties defining communication parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AbstractObjectGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CommunicationNetwork" type="CommunicationNetworkType"/>
	<xs:simpleType name="CommunicativeActTypeCodeType">
		<xs:annotation>
			<xs:documentation>Enumeration of different types of communications.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Accept"/>
			<xs:enumeration value="Agree"/>
			<xs:enumeration value="Confirm"/>
			<xs:enumeration value="Inform"/>
			<xs:enumeration value="Refuse"/>
			<xs:enumeration value="Request"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ConsumableMaterialType">
		<xs:annotation>
			<xs:documentation>Physical assets that are significant to the exercise but that are inanimate and do not perform actions by themselves. They are consumable resources, such as food or ammunition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ResourceGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoordinateType">
		<xs:choice>
			<xs:element ref="GeodeticCoordinate"/>
			<xs:element ref="GeocentricCoordinateValue"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Coordinate" type="CoordinateType"/>
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericCountry"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CulturalFeatureType">
		<xs:annotation>
			<xs:documentation>Any man-made feature in the environment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="ConsumableMaterial" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CulturalFeature" type="CulturalFeatureType"/>
	<xs:complexType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>A date and time in ISO 8601:2000 DateTime Group format yyyy-mm-ddThh:mm:ssZ e.g. 1998-05-12T14:15:00Z. From MSDL simple types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TimeInstantGroup"/>
			<xs:element ref="IsoDateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DesiredEffectCodeType">
		<xs:annotation>
			<xs:documentation>A code describing the intended effect of a task.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BURN"/>
			<xs:enumeration value="CAPTRD"/>
			<xs:enumeration value="CONS"/>
			<xs:enumeration value="DSTRYK"/>
			<xs:enumeration value="FKIL"/>
			<xs:enumeration value="FLIG"/>
			<xs:enumeration value="GenericEffect"/>
			<xs:enumeration value="IDNT"/>
			<xs:enumeration value="ILLUMN"/>
			<xs:enumeration value="INTREC"/>
			<xs:enumeration value="KILL"/>
			<xs:enumeration value="LDAM"/>
			<xs:enumeration value="LGTRST"/>
			<xs:enumeration value="LOST"/>
			<xs:enumeration value="MKIL"/>
			<xs:enumeration value="MODDAM"/>
			<xs:enumeration value="NBCAS"/>
			<xs:enumeration value="NKN"/>
			<xs:enumeration value="NORSTN"/>
			<xs:enumeration value="NOS"/>
			<xs:enumeration value="NUTRLD"/>
			<xs:enumeration value="SDAM"/>
			<xs:enumeration value="SUPRSD"/>
			<xs:enumeration value="WNDD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="DomainMessageBodyGroup">
		<xs:sequence>
			<xs:element ref="FromSender" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ToReceiver" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="DomainMessageBodyType">
		<xs:choice>
			<xs:element ref="OrderBody"/>
			<xs:element ref="ReportBody"/>
			<xs:element ref="ExecutePlanBody"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="DomainMessageBody" type="DomainMessageBodyType"/>
	<xs:complexType name="DurationType">
		<xs:annotation>
			<xs:documentation>A time duration expressed in ISO 8601:2000 duration format PnYnMnDTnHnMnS e.g. P00Y00M00DT00H00M00S. Note that this does not support fractions of seconds. From MSDL simple types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="IsoTimeDuration" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="EntityGroup">
		<xs:annotation>
			<xs:documentation>An individually identified object. Objects may have physical properties, in which case they belong to the subclass ConcreteEntity. Objects may be able to perform actions, in which case they belong in the subclass ActorEntity. If they have physical properties AND can perform actions, then they inherit from both subclasses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EntityType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="UUID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="EntityType">
		<xs:choice>
			<xs:element ref="ActorEntity"/>
			<xs:element ref="PhysicalEntity"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="EntityDefinedLocationType">
		<xs:annotation>
			<xs:documentation>A location defined by the location of a ConcreteEntity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="LocationReferenceEntity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EntityDefinedLocation" type="EntityDefinedLocationType"/>
	<xs:complexType name="EntityDescriptorType">
		<xs:annotation>
			<xs:documentation>The Descriptor defines static attributes of an entity, i.e. that do not change during the course of the simulation. This information is provided at initialization time.

The friend/hostile/... relationship of this entity with others can be specfied with hasAllegianceRelationship properties, to define specific and possibly asymmetric relations with other enitities.

The isAffiliatedWith property defines organizations that this entity is affiliated with. These organizations are abstract; they are not actors.

C2 structures can be defined by using the hasSuperior property.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AllegianceTo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="CommunicationsNetwork" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AffiliatedWith" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Superior" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Side" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityHealthStatusType">
		<xs:choice>
			<xs:element ref="OperationalStatus"/>
			<xs:element ref="Resources"/>
			<xs:element ref="Strength"/>
			<xs:element ref="BatteryStatus"/>
			<xs:element ref="LinkStatus"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="EntityStateGroup">
		<xs:annotation>
			<xs:documentation>Dynamic state information for entities in the exercise.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="EntityStateType">
		<xs:choice>
			<xs:element ref="PhysicalState"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="EntityTypeGroup">
		<xs:annotation>
			<xs:documentation>This is a set of category enumerations, e.g. a DIS type specification, or other set of unique values defining the type of an Entity for representation in simulations and depiction on C2 displays.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EntityTypeString" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="EntityTypeType">
		<xs:choice>
			<xs:element ref="APP6-SIDC"/>
			<xs:element ref="DISEntityType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="EnvironmentalObjectType">
		<xs:annotation>
			<xs:documentation>A specified region in which the environment (e.g. weather, ocean state) is defined by a particular Environmental State.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnvironmentalObject" type="EnvironmentalObjectType"/>
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation>A physical object that is normally part of an entity. For example an uncrewed gun.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ResourceGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Equipment" type="EquipmentType"/>
	<xs:simpleType name="EthnicGroupCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericEthnicGroup"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EulerAnglesType">
		<xs:annotation>
			<xs:documentation>Representation of the orientation of an entity in 3D space expressed as Euler angles (DIS).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Phi" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Psi" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Theta" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EulerAngles" type="EulerAnglesType"/>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>An ACTION that is an incident, phenomenon, or occasion. May or may not be the result of an agent's action.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ActionGroup"/>
			<xs:element ref="EventCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="StartTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EventCodeType">
		<xs:annotation>
			<xs:documentation>The type of event.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericAction"/>
			<xs:enumeration value="TaskEnd"/>
			<xs:enumeration value="TaskStart"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExtentVerticesType">
		<xs:annotation>
			<xs:documentation>The locations of multiple vertices defining the space occupied by an entity. For example, points on a multi-point line or a convex hull. These vertices are in a specific order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Location" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ExtentVertices" type="ExtentVerticesType"/>
	<xs:complexType name="GeodeticCoordinateType">
		<xs:sequence>
			<xs:element ref="Latitude" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Longitude" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="AltitudeAGL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AltitudeMSL" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GeodeticCoordinate" type="GeodeticCoordinateType"/>
	<xs:complexType name="GeographicFeatureType">
		<xs:annotation>
			<xs:documentation>A geographic feature generally used for location reference. For example a hill, river, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GeographicFeature" type="GeographicFeatureType"/>
	<xs:complexType name="HandlesType">
		<xs:annotation>
			<xs:documentation>The locations of the special locations that define the shape of a physical object. For example, the tip of an arrow head graphic, a side point defining the arrow head width, and a bottom point defining its length.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Location" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Handles" type="HandlesType"/>
	<xs:complexType name="InitializationConceptType">
		<xs:choice>
			<xs:element ref="InitializationDataFile"/>
			<xs:element ref="ObjectDefinitions"/>
			<xs:element ref="ScenarioSetting"/>
			<xs:element ref="SystemEntityList"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="InitializationConcept" type="InitializationConceptType"/>
	<xs:complexType name="InitializationDataFileType">
		<xs:annotation>
			<xs:documentation>Defines a file of supplementary data that is used to initialize the scenario. This file is generally system-specific, for example a terrain database file or a mapping from C2SIM entity types to local entity type enumerations. It could apply to "all" systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Name" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="SystemName" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="IntializationFileType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntervalTimeType">
		<xs:annotation>
			<xs:documentation>An interval defined by a start and end dateTime. Note that 2 of the 3 properties must be specified.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Duration" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="EndTime" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StartTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="IntervalTime" type="IntervalTimeType"/>
	<xs:complexType name="LocationType">
		<xs:choice>
			<xs:element ref="Coordinate"/>
			<xs:element ref="EntityDefinedLocation"/>
			<xs:element ref="RelativeLocation"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MapGraphicType">
		<xs:annotation>
			<xs:documentation>Graphics on a map that define locations, lines, areas, actions, etc. The location of the graphic is the location in the real world represented on the map. The extent is the set of handle points or vertices that define its shape and size. This class includes task graphics, METOC graphics, and MOOTW graphics.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MapGraphic" type="MapGraphicType"/>
	<xs:complexType name="MessageType">
		<xs:annotation>
			<xs:documentation>Any C2SIM message that is sent between host systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="C2SIMHeader" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="MessageBody" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MessageBodyType">
		<xs:choice>
			<xs:element ref="AcknowledgementBody"/>
			<xs:element ref="C2SIMInitializationBody"/>
			<xs:element ref="DomainMessageBody"/>
			<xs:element ref="ObjectInitialization"/>
			<xs:element ref="SystemCommandBody"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MessageCodeType">
		<xs:choice>
			<xs:element ref="AcknowledgeTypeCode"/>
			<xs:element ref="CommunicativeActTypeCode"/>
			<xs:element ref="SystemCommandTypeCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="MessageCode" type="MessageCodeType"/>
	<xs:complexType name="MessageConceptType">
		<xs:choice>
			<xs:element ref="C2SIMHeader"/>
			<xs:element ref="Message"/>
			<xs:element ref="MessageBody"/>
			<xs:element ref="MessageCode"/>
			<xs:element ref="ReportContent"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="MessageConcept" type="MessageConceptType"/>
	<xs:complexType name="MilitaryOrganizationType">
		<xs:sequence>
			<xs:group ref="CollectiveEntityGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MilitaryOrganization" type="MilitaryOrganizationType"/>
	<xs:complexType name="NonMilitaryOrganizationType">
		<xs:annotation>
			<xs:documentation>An organization operating external to military authority (e.g., law enforcement, non-governmental organizations).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="CollectiveEntityGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NonMilitaryOrganization" type="NonMilitaryOrganizationType"/>
	<xs:complexType name="ObjectDefinitionsType">
		<xs:sequence>
			<xs:element ref="AbstractObject" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Action" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Entity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="PlanPhaseReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectInitializationType">
		<xs:annotation>
			<xs:documentation>This message is sent by each system to a marshalling server upon receipt of a SubmitInitialization message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="InitializationDataFile" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ObjectDefinitions" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SystemEntityList" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ScenarioSetting" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ObjectInitialization" type="ObjectInitializationType"/>
	<xs:complexType name="OperationalStatusType">
		<xs:annotation>
			<xs:documentation>An enumeration indicating degree of partial capability.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OperationalStatusCode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OperationalStatusCodeType">
		<xs:annotation>
			<xs:documentation>An enumeration indicating the general level of capability of an entity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FullyOperational"/>
			<xs:enumeration value="MostlyOperational"/>
			<xs:enumeration value="NotOperational"/>
			<xs:enumeration value="PartlyOperational"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrderBodyType">
		<xs:annotation>
			<xs:documentation>The structure for sending order messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="DomainMessageBodyGroup"/>
			<xs:element ref="Task" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="IssuedTime" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="OrderID" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="RequestingEntity" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderBody" type="OrderBodyType"/>
	<xs:complexType name="OrganizationCodeType">
		<xs:choice>
			<xs:element ref="CountryCode"/>
			<xs:element ref="EthnicGroupCode"/>
			<xs:element ref="ReligiousOrganizationCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrientationType">
		<xs:choice>
			<xs:element ref="EulerAngles"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OverlayType">
		<xs:annotation>
			<xs:documentation>A logical grouping of Entities (units, graphics, etc.) for purposes of conveniently referring to them.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AbstractObjectGroup"/>
			<xs:element ref="Reference" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Overlay" type="OverlayType"/>
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="CurrentState" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PersonTypeCategoryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Marking" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Person" type="PersonType"/>
	<xs:complexType name="PhysicalConceptType">
		<xs:choice>
			<xs:element ref="EntityHealthStatus"/>
			<xs:element ref="Location"/>
			<xs:element ref="Orientation"/>
			<xs:element ref="PhysicalExtent"/>
			<xs:element ref="SpatialOffset"/>
			<xs:element ref="TemporalConcept"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="PhysicalConcept" type="PhysicalConceptType"/>
	<xs:group name="PhysicalEntityGroup">
		<xs:annotation>
			<xs:documentation>An Entity that has physical/kinematic properties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CurrentState" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Marking" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PhysicalEntityType">
		<xs:choice>
			<xs:element ref="CulturalFeature"/>
			<xs:element ref="EnvironmentalObject"/>
			<xs:element ref="GeographicFeature"/>
			<xs:element ref="MapGraphic"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="PhysicalEntity" type="PhysicalEntityType"/>
	<xs:complexType name="PhysicalExtentType">
		<xs:choice>
			<xs:element ref="BoundingBox"/>
			<xs:element ref="BoundingVolume"/>
			<xs:element ref="ExtentVertices"/>
			<xs:element ref="Handles"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PhysicalStateType">
		<xs:annotation>
			<xs:documentation>Description of the physical state of an entity, including location, orientation, health, speed, etc.
Note that an EnvironmentalState class should be a subclass of PhysicalState. The EnvironmentalState could be the state of, for example, a smoke plume, which would have a location and could have direction, orientation, and speed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="EntityStateGroup"/>
			<xs:element ref="Location" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="PhysicalExtent" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DirectionOfMovement" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="EntityHealthStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Orientation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Speed" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PhysicalState" type="PhysicalStateType"/>
	<xs:group name="PlatformGroup">
		<xs:sequence>
			<xs:element ref="CurrentState" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Marking" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PlatformType">
		<xs:choice>
			<xs:element ref="Aircraft"/>
			<xs:element ref="SubsurfaceVessel"/>
			<xs:element ref="SurfaceVessel"/>
			<xs:element ref="Vehicle"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Platform" type="PlatformType"/>
	<xs:complexType name="PositionReportContentType">
		<xs:sequence>
			<xs:group ref="ReportContentGroup"/>
			<xs:element ref="Location" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="OperationalStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Strength" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SubjectEntity" minOccurs="1" maxOccurs="1"/>
			<xs:element minOccurs="0" ref="AutonomousSystemPositionReportContent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PositionReportContent" type="PositionReportContentType"/>
	<xs:complexType name="RelativeLocationType">
		<xs:annotation>
			<xs:documentation>A location defined by an offset to some reference location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SpatialOffset" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="EntityReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RelativeLocation" type="RelativeLocationType"/>
	<xs:complexType name="RelativeTimeType">
		<xs:annotation>
			<xs:documentation>Specifies an absolute time relative to the start or end time of an event.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TimeInstantGroup"/>
			<xs:element ref="DelayTimeAmount" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="TimeReferenceCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="EventReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RelativeTime" type="RelativeTimeType"/>
	<xs:simpleType name="ReligiousOrganizationCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericReligiousOrganization"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReportBodyType">
		<xs:annotation>
			<xs:documentation>The structure for sending report messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="DomainMessageBodyGroup"/>
			<xs:element ref="ReportContent" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="ReportingEntity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReportBody" type="ReportBodyType"/>
	<xs:group name="ReportContentGroup">
		<xs:annotation>
			<xs:documentation>This is a collection class that may be used for different types of reports.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TimeOfObservation" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ReportContentType">
		<xs:choice>
			<xs:element ref="PositionReportContent" minOccurs="1"/>
			<xs:element ref="ObservationReportContent" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="ResourceGroup">
		<xs:annotation>
			<xs:documentation>This is a resource that can be part of, transferred to, or removed from an object (Entity), but is not an entity itself; therefore it does not have a location, extent, or other physical attributes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="EntityType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Count" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ResourceType">
		<xs:choice>
			<xs:element ref="ConsumableMaterial"/>
			<xs:element ref="Equipment"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResourcesType">
		<xs:annotation>
			<xs:documentation>A level of personnel, equipment, ammunition, fuel, etc. The user must compare this to the full strength of the unit.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Resource" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Resources" type="ResourcesType"/>
	<xs:complexType name="ScenarioSettingType">
		<xs:annotation>
			<xs:documentation>Information describing the setting of the scenario, including the date, time, physical extent of the terrain, and a version string.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="PhysicalExtent" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Version" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SecurityClassificationCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Confidential"/>
			<xs:enumeration value="Secret"/>
			<xs:enumeration value="TopSecret"/>
			<xs:enumeration value="Unclassified"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SimulationTimeType">
		<xs:annotation>
			<xs:documentation>A time measured as a time duration since the time instant of the scenario start.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TimeInstantGroup"/>
			<xs:element ref="DelayTimeAmount" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SimulationTime" type="SimulationTimeType"/>
	<xs:complexType name="SpatialOffsetType">
		<xs:choice>
			<xs:element ref="CartesianOffset"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="StrengthType">
		<xs:annotation>
			<xs:documentation>Representation of the strength of an entity expressed as a percentage of some starting value.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StrengthPercentage" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemCommandBodyType">
		<xs:sequence>
			<xs:element ref="SystemCommandTypeCode" minOccurs="1" maxOccurs="1"/>
			<!-- Added for MSG-145  DSC -->
			<xs:element name="SessionStateCode" type="ServerStateType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SystemCommandBody" type="SystemCommandBodyType"/>
	<xs:simpleType name="SystemCommandTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="InitializationComplete"/>
			<xs:enumeration value="ShareScenario"/>
			<xs:enumeration value="StartScenario"/>
			<xs:enumeration value="SubmitInitialization"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SystemEntityListType">
		<xs:annotation>
			<xs:documentation>This is a listing of entities that reside of a system. The list defines what system a message should be sent to in order to get it to a given actor.  Each entity can reside on only one system. This list does not define necessarily define the complete list of entities on the given system.
Systems can build a map from this and other lists to get the system from a given entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ActorReference" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="SystemName" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SystemStateCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INITIALIZED"/>
			<xs:enumeration value="PAUSED"/>
			<xs:enumeration value="RUNNING"/>
			<xs:enumeration value="UNINITIALIZED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="TaskGroup">
		<xs:annotation>
			<xs:documentation>A Action that takes place over time, and is performed by an Entity to change the state of the world.
WHO is represented by hasPerformingEntity (and hasEntity, which can be an affected entity, a supporting entity, etc. depending on the context of WHAT).
WHAT is represented by the hasActionCode.
WHEN is represented by the start time/duration/end time (2 of 3)
WHERE is represented by hasLocation and/or hasMapGraphicID reference.
WHY may be represented by hasDesiredEffect.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DesiredEffectCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TaskNameCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Duration" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="EndTime" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StartTime" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AffectedEntity" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="PerformingEntity" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="TaskType">
		<xs:choice>
			<xs:element ref="ManeuverWarfareTask" minOccurs="1"/>
			<xs:element ref="AutonomousSystemManeuverWarfareTask" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="TaskNameCodeType">
		<xs:annotation>
			<xs:documentation>The activity to be performed in the task, e.g. Move, Observe, Assist.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACQUIR"/>
			<xs:enumeration value="ADVANC"/>
			<xs:enumeration value="AIRDEF"/>
			<xs:enumeration value="AMBUSH"/>
			<xs:enumeration value="ARASLT"/>
			<xs:enumeration value="ASSMBL"/>
			<xs:enumeration value="ATTACK"/>
			<xs:enumeration value="ATTRIT"/>
			<xs:enumeration value="ATTSPT"/>
			<xs:enumeration value="AVOID"/>
			<xs:enumeration value="AssistOtherUnit"/>
			<xs:enumeration value="BLOCK"/>
			<xs:enumeration value="BREACH"/>
			<xs:enumeration value="BYPASS"/>
			<xs:enumeration value="CAPTUR"/>
			<xs:enumeration value="CLOSE"/>
			<xs:enumeration value="CLRLND"/>
			<xs:enumeration value="CLROBS"/>
			<xs:enumeration value="CNFPSL"/>
			<xs:enumeration value="CNRPSL"/>
			<xs:enumeration value="COVER"/>
			<xs:enumeration value="CRESRV"/>
			<xs:enumeration value="CTRATK"/>
			<xs:enumeration value="CTRBYF"/>
			<xs:enumeration value="CTRFIR"/>
			<xs:enumeration value="DECEIV"/>
			<xs:enumeration value="DEFEAT"/>
			<xs:enumeration value="DEFEND"/>
			<xs:enumeration value="DELAY"/>
			<xs:enumeration value="DENY"/>
			<xs:enumeration value="DESTRY"/>
			<xs:enumeration value="DISENG"/>
			<xs:enumeration value="DISRPT"/>
			<xs:enumeration value="DLBATK"/>
			<xs:enumeration value="DRONL"/>
			<xs:enumeration value="ENGAGE"/>
			<xs:enumeration value="ENVLP"/>
			<xs:enumeration value="EXPLT"/>
			<xs:enumeration value="FIX"/>
			<xs:enumeration value="GUARD"/>
			<xs:enumeration value="HARASS"/>
			<xs:enumeration value="HASTY"/>
			<xs:enumeration value="HONASP"/>
			<xs:enumeration value="HoldInPlace"/>
			<xs:enumeration value="INFILT"/>
			<xs:enumeration value="INTDCT"/>
			<xs:enumeration value="ISOLAT"/>
			<xs:enumeration value="LOCATE"/>
			<xs:enumeration value="MEDEVC"/>
			<xs:enumeration value="MOPUP"/>
			<xs:enumeration value="MOVE"/>
			<xs:enumeration value="MoveToLocation"/>
			<xs:enumeration value="OBSCUR"/>
			<xs:enumeration value="OBSRV"/>
			<xs:enumeration value="OCCUPY"/>
			<xs:enumeration value="Observe"/>
			<xs:enumeration value="OrientToLocation"/>
			<xs:enumeration value="PATROL"/>
			<xs:enumeration value="PENTRT"/>
			<xs:enumeration value="PLAN"/>
			<xs:enumeration value="PREFIR"/>
			<xs:enumeration value="PURSUE"/>
			<xs:enumeration value="RECCE"/>
			<xs:enumeration value="RECONS"/>
			<xs:enumeration value="RECOVR"/>
			<xs:enumeration value="REFUEL"/>
			<xs:enumeration value="REINF"/>
			<xs:enumeration value="RESCUE"/>
			<xs:enumeration value="RESUPL"/>
			<xs:enumeration value="RETAIN"/>
			<xs:enumeration value="RLFPLC"/>
			<xs:enumeration value="ReportPosition"/>
			<xs:enumeration value="SCREEN"/>
			<xs:enumeration value="SECURE"/>
			<xs:enumeration value="SEIZE"/>
			<xs:enumeration value="SUPPRS"/>
			<xs:enumeration value="SUPPRT"/>
			<xs:enumeration value="THREAT"/>
			<xs:enumeration value="TURN"/>
			<xs:enumeration value="UseCapability"/>
			<xs:enumeration value="ESCFIR"/>
			<xs:enumeration value="ESCORT"/>
			<xs:enumeration value="FIRE"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="JAMM"/>
			<xs:enumeration value="SEAFOL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TemporalConceptType">
		<xs:choice>
			<xs:element ref="Duration"/>
			<xs:element ref="IntervalTime"/>
			<xs:element ref="TimeInstant"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="TimeInstantGroup">
		<xs:annotation>
			<xs:documentation>A specific time expressed in seconds, i.e. with no date. The generator and user of this time must understand a common reference point, for example the start of the scenario.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="TimeInstantType">
		<xs:choice>
			<xs:element ref="DateTime"/>
			<xs:element ref="RelativeTime"/>
			<xs:element ref="SimulationTime"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="TimeReferenceCodeType">
		<xs:annotation>
			<xs:documentation>Indicates whether a relative time is referenced to the start or the end of an interval time.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="IntervalEndTime"/>
			<xs:enumeration value="IntervalStartTime"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="AutonomousSystemGroup">
		<xs:sequence>
			<xs:element ref="CurrentState" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AutonomousSystemType">
		<xs:choice>
			<xs:element ref="UAV"/>
			<xs:element ref="UGV"/>
			<xs:element ref="USV"/>
			<xs:element ref="UUV"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="AutonomousSystem" type="AutonomousSystemType"/>
	<xs:complexType name="AutonomousSystemObservationReportContentType">
		<xs:sequence>
			<xs:element ref="DetectionTypeCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="UUID" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SideHostilityCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="EntityType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="OperationalStatusCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Strength" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CurrentTask" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SuggestedTask" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutonomousSystemObservationReportContent"
		type="AutonomousSystemObservationReportContentType"/>
	<xs:complexType name="AutonomousSystemManeuverWarfareTaskType">
		<xs:annotation>
			<xs:documentation>A task containing the who, what, where, when, why of a ground maneuver task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TaskGroup"/>
			<xs:group ref="ActionGroup"/>
			<xs:element ref="TaskFunctionalAssociationCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="FunctionalAssociationWithTask" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SensorCode" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TTPCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TacticalAttitudeCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="UAVFlightFormation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutonomousSystemManeuverWarfareTask"
		type="AutonomousSystemManeuverWarfareTaskType"/>
	<xs:complexType name="AutonomousSystemPositionReportContentType">
		<xs:sequence>
			<xs:element ref="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TacticalAttitudeCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BatteryPercentage" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LinkPercentage" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CurrentTask" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SuggestedTask" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutonomousSystemPositionReportContent"
		type="AutonomousSystemPositionReportContentType"/>
	<xs:complexType name="BatteryStatusType">
		<xs:sequence>
			<xs:element ref="BatteryPercentage" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BatteryStatus" type="BatteryStatusType"/>
	<xs:simpleType name="DetectionTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Detection"/>
			<xs:enumeration value="Discovery"/>
			<xs:enumeration value="Identification"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LevelOfAutonomyType">
		<xs:sequence>
			<xs:element ref="LevelOfAutonomyCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LevelOfAutonomy" type="LevelOfAutonomyType"/>
	<xs:simpleType name="LevelOfAutonomyCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LoA-0"/>
			<xs:enumeration value="LoA-1"/>
			<xs:enumeration value="LoA-2"/>
			<xs:enumeration value="LoA-3"/>
			<xs:enumeration value="LoA-4"/>
			<xs:enumeration value="LoA-5"/>
			<xs:enumeration value="LoA-6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LinkStatusType">
		<xs:sequence>
			<xs:element ref="LinkPercentage" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LinkStatus" type="LinkStatusType"/>
	<xs:simpleType name="SensorCodeType">
		<xs:annotation>
			<xs:documentation>Code for the type (technology) of sensor on board of a platform or UAxS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EO"/>
			<xs:enumeration value="IR"/>
			<xs:enumeration value="LID"/>
			<xs:enumeration value="SAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TTPCodeType">
		<xs:annotation>
			<xs:documentation>A Technical Tactical Procedure code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CIR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TacticalAttitudeCodeType">
		<xs:annotation>
			<xs:documentation>The specific operational attitude to be adopted for a mission</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AWARE"/>
			<xs:enumeration value="CARELESS"/>
			<xs:enumeration value="STEALTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UAVType">
		<xs:annotation>
			<xs:documentation>Unmanned Autonomous Air Vehicle, like a drone, which elaborates environmental data from sensors feeds,  performs tasks and interacts with humans according to a defined Level of Autonomy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AutonomousSystemGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UAVFlightFormationType">
		<xs:sequence>
			<xs:element ref="UAVFlightFormationCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="UAVFlightFormationShift" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UAVFlightFormation" type="UAVFlightFormationType"/>
	<xs:element name="UAV" type="UAVType"/>
	<xs:simpleType name="UAVFlightFormationCodeType">
		<xs:annotation>
			<xs:documentation>The specific flight formation of a SWARM of UAVs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UAVColumn"/>
			<xs:enumeration value="UAVDelta"/>
			<xs:enumeration value="UAVLinear"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UGVType">
		<xs:annotation>
			<xs:documentation>Unmanned Autonomous Ground Vehicle, like a robotic unit, which elaborates environmental data from sensors feeds,  performs tasks and interacts with humans according to a defined Level of Autonomy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AutonomousSystemGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UGV" type="UGVType"/>
	<xs:complexType name="USVType">
		<xs:annotation>
			<xs:documentation>Unmanned Autonomous Surface Vehicle, like an autonomous boat, which elaborates environmental data from sensors feeds,  performs tasks and interacts with humans according to a defined Level of Autonomy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AutonomousSystemGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="USV" type="USVType"/>
	<xs:complexType name="UUVType">
		<xs:annotation>
			<xs:documentation>Unmanned Autonomous Underwater Vehicle, like a glider, which elaborates environmental data from sensors feeds,  performs tasks and interacts with humans according to a defined Level of Autonomy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="AutonomousSystemGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UUV" type="UUVType"/>
	<xs:complexType name="EventTriggerType">
		<xs:sequence>
			<xs:element ref="Event" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EventTrigger" type="EventTriggerType"/>
	<xs:complexType name="ExecutePlanBodyType">
		<xs:annotation>
			<xs:documentation>This message orders the recipient unit to begin execution of the indicated plan.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="DomainMessageBodyGroup"/>
			<xs:element ref="PlanPhaseReference" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ExecutePlanBody" type="ExecutePlanBodyType"/>
	<xs:complexType name="ManeuverWarfareTaskType">
		<xs:annotation>
			<xs:documentation>A task containing the who, what, where, when, why of a ground maneuver task.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="TaskGroup"/>
			<xs:group ref="ActionGroup"/>
			<xs:element ref="TaskFunctionalAssociationCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="FunctionalAssociationWithTask" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ManeuverWarfareTask" type="ManeuverWarfareTaskType"/>
	<xs:complexType name="OnOrderTriggerType">
		<xs:sequence>
			<xs:element ref="TaskReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OnOrderTrigger" type="OnOrderTriggerType"/>
	<xs:complexType name="PlanPhaseType">
		<xs:annotation>
			<xs:documentation>A plan for a unit. A PlanPhase may a single task for a unit, or tasks for multiple units (one each), or (recursively) multiple subphases.
Phases have completion conditions that indicate when they are complete, as well as Boolean flags that indicate whether the phase is active and whether it is complete.
Phases have trigger conditions that indicate when they start.  Phases may start on the completion of another phase--thus forming a task sequence--on receipt of an order, or at the time of an Event.
 A sequence of tasks for one unit is normally represented as a sequence of subphases in order to express the triggering conditions for each task; however a set of tasks for a unit may be included in a phase and executed with some implicit sequencing such as task time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SubPhase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="PlanPhaseCompletionCondition" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="PlanPhaseTrigger" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="PlanPhaseId" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Active" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Complete" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PlanPhaseCompletionConditionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AllTasksComplete"/>
			<xs:enumeration value="OneTaskComplete"/>
			<xs:enumeration value="OtherOrderReceived"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlanPhaseTriggerType">
		<xs:choice>
			<xs:element ref="EventTrigger"/>
			<xs:element ref="OnOrderTrigger"/>
			<xs:element ref="PriorPhaseCompletionTrigger"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PriorPhaseCompletionTriggerType">
		<xs:sequence>
			<xs:element ref="TriggerPhase" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PriorPhaseCompletionTrigger" type="PriorPhaseCompletionTriggerType"/>
	<xs:simpleType name="TaskFunctionalAssociationCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="APP6-SIDCType">
		<xs:sequence>
			<xs:group ref="EntityTypeGroup"/>
			<xs:element ref="SIDCString" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityObservationType">
		<xs:annotation>
			<xs:documentation>An observation of the activity of the subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ObservationGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ActivityObservation" type="ActivityObservationType"/>
	<xs:complexType name="AircraftType">
		<xs:sequence>
			<xs:group ref="PlatformGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="AircraftTypeCategoryCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Aircraft" type="AircraftType"/>
	<xs:simpleType name="AircraftTypeCategoryCodeType">
		<xs:annotation>
			<xs:documentation>Instances of this class (code values) to be taken from JC3IEDM 3.1.4 AircraftTypeCategoryCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericInstance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmmunitionType">
		<xs:annotation>
			<xs:documentation>A CONSUMABLE-MATERIEL-TYPE that is a complete device charged with explosives, propellants, pyrotechnics, initiating composition, or nuclear, biological, or chemical material for use in military operations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ResourceGroup"/>
			<xs:element ref="AmmunitionTypeCategoryCode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ammunition" type="AmmunitionType"/>
	<xs:simpleType name="AmmunitionTypeCategoryCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DISCountryCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DISDomainCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DomainAir"/>
			<xs:enumeration value="DomainLand"/>
			<xs:enumeration value="DomainOther"/>
			<xs:enumeration value="DomainSpace"/>
			<xs:enumeration value="DomainSubsurface"/>
			<xs:enumeration value="DomainSurface"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DISEntityTypeType">
		<xs:sequence>
			<xs:group ref="EntityTypeGroup"/>
			<xs:element ref="DISCountryCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DISDomainCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DISKindCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DISCategory" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DISExtra" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DISSpecific" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DISSubCategory" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DISEntityType" type="DISEntityTypeType"/>
	<xs:simpleType name="DISKindCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KindCulturalFeature"/>
			<xs:enumeration value="KindEnvironmental"/>
			<xs:enumeration value="KindExpendable"/>
			<xs:enumeration value="KindLifeForm"/>
			<xs:enumeration value="KindMunition"/>
			<xs:enumeration value="KindOther"/>
			<xs:enumeration value="KindPlatform"/>
			<xs:enumeration value="KindRadio"/>
			<xs:enumeration value="KindSensorEmitter"/>
			<xs:enumeration value="KindSupply"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DISTypeCodeType">
		<xs:choice>
			<xs:element ref="DISCountryCode"/>
			<xs:element ref="DISDomainCode"/>
			<xs:element ref="DISKindCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="EchelonCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ARMY"/>
			<xs:enumeration value="ARMYGROUP"/>
			<xs:enumeration value="BATTALION"/>
			<xs:enumeration value="BATTERY"/>
			<xs:enumeration value="BRIGADE"/>
			<xs:enumeration value="COMPANY"/>
			<xs:enumeration value="CORPS"/>
			<xs:enumeration value="CREW"/>
			<xs:enumeration value="DETACHMENT"/>
			<xs:enumeration value="DIVISION"/>
			<xs:enumeration value="FRONT"/>
			<xs:enumeration value="GROUP"/>
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="PLATOON"/>
			<xs:enumeration value="REGIMENT"/>
			<xs:enumeration value="REGION"/>
			<xs:enumeration value="SECTION"/>
			<xs:enumeration value="SQUAD"/>
			<xs:enumeration value="SQUADRON"/>
			<xs:enumeration value="TEAM"/>
			<xs:enumeration value="TROOP"/>
			<xs:enumeration value="WING"/>
			<xs:enumeration value="SWARM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ForceSideType">
		<xs:sequence>
			<xs:group ref="AbstractObjectGroup"/>
			<xs:element ref="SideHostilityCode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ForceSide" type="ForceSideType"/>
	<xs:complexType name="GeocentricCoordinateValueType">
		<xs:sequence>
			<xs:element ref="X" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Y" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Z" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GeocentricCoordinateValue" type="GeocentricCoordinateValueType"/>
	<xs:complexType name="HealthObservationType">
		<xs:annotation>
			<xs:documentation>An observation of the health state of a subject; for example operational status or resource count.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ObservationGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HealthObservation" type="HealthObservationType"/>
	<xs:complexType name="LocationObservationType">
		<xs:annotation>
			<xs:documentation>An observation of the location of a subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ObservationGroup"/>
			<xs:element ref="Location" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LocationObservation" type="LocationObservationType"/>
	<xs:complexType name="MIPCategoryCodeType">
		<xs:choice>
			<xs:element ref="AircraftTypeCategoryCode"/>
			<xs:element ref="AmmunitionTypeCategoryCode"/>
			<xs:element ref="PersonTypeCategoryCode"/>
			<xs:element ref="VehicleTypeCategoryCode"/>
			<xs:element ref="VesselTypeCategoryCode"/>
			<xs:element ref="WeaponTypeCategoryCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="MIPCategoryCode" type="MIPCategoryCodeType"/>
	<xs:complexType name="NameObservationType">
		<xs:annotation>
			<xs:documentation>An observation of the unit name of the subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ObservationGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NameObservation" type="NameObservationType"/>
	<xs:group name="ObservationGroup">
		<xs:annotation>
			<xs:documentation>This is an observation of the state of something in the world; generally an actor, but possibly anything that is an entity. Subclasses define specific observations that can be made.
The subclasses defined here are sufficient to create a report with Size, Activity, Location, Unit Identification, Time, and Equipment, or some subset of that.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ConfidenceLevel" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UncertaintyInterval" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ObservationType">
		<xs:choice>
			<xs:element ref="ActivityObservation"/>
			<xs:element ref="HealthObservation"/>
			<xs:element ref="LocationObservation"/>
			<xs:element ref="NameObservation"/>
			<xs:element ref="SubjectTypeObservation"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ObservationReportContentType">
		<xs:annotation>
			<xs:documentation>This report contains an observation of some aspect of a subject--not necessarily including the location, health, or other facts that are in a position report.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ReportContentGroup"/>
			<xs:element ref="Observation" minOccurs="1" maxOccurs="1"/>
			<xs:element minOccurs="0" ref="AutonomousSystemObservationReportContent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ObservationReportContent" type="ObservationReportContentType"/>
	<xs:simpleType name="PersonTypeCategoryCodeType">
		<xs:annotation>
			<xs:documentation>Instances of this class (code values) to be taken from JC3IEDM 3.1.4 PersonTypeCategoryCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericInstance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReinforcedReducedTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="RD"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Added for MSG-145  DSC -->
	<xs:simpleType name="ServerStateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UNINITIALIZED"/>
			<xs:enumeration value="INITIALIZING"/>
			<xs:enumeration value="INITIALIZED"/>
			<xs:enumeration value="RUNNING"/>
			<xs:enumeration value="PAUSED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SideHostilityCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FR"/>
			<xs:enumeration value="HO"/>
			<xs:enumeration value="NEUTRL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SubjectTypeObservationType">
		<xs:annotation>
			<xs:documentation>An observation of the type of the subject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ObservationGroup"/>
			<xs:element ref="EntityType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SubjectTypeObservation" type="SubjectTypeObservationType"/>
	<xs:complexType name="SubsurfaceVesselType">
		<xs:sequence>
			<xs:group ref="PlatformGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="SubsurfaceVesselTypeCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SubsurfaceVessel" type="SubsurfaceVesselType"/>
	<xs:simpleType name="SubsurfaceVesselTypeCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="SurfaceVesselType">
		<xs:sequence>
			<xs:group ref="PlatformGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="SurfaceVesselTypeCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SurfaceVessel" type="SurfaceVesselType"/>
	<xs:simpleType name="SurfaceVesselTypeCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:group name="TacticalGraphicGroup">
		<xs:sequence>
			<xs:element ref="APP6-SIDC" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Owner" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="TacticalGraphicType">
		<xs:choice>
			<xs:element ref="Line"/>
			<xs:element ref="NBC_Event"/>
			<xs:element ref="Point"/>
			<xs:element ref="TacticalArea"/>
			<xs:element ref="TaskGraphic"/>
			<xs:element ref="UnitSymbol"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="TacticalGraphic" type="TacticalGraphicType"/>
	<xs:complexType name="UnitType">
		<xs:sequence>
			<xs:group ref="CollectiveEntityGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="EchelonCode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Unit" type="UnitType"/>
	<xs:simpleType name="UnitOperationalStatusCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOPS"/>
			<xs:enumeration value="NOP"/>
			<xs:enumeration value="OPR"/>
			<xs:enumeration value="SOPS"/>
			<xs:enumeration value="TNOPS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="UnitOperationalStatusCode" type="UnitOperationalStatusCodeType"/>
	<xs:complexType name="UnitSymbolType">
		<xs:sequence>
			<xs:group ref="TacticalGraphicGroup"/>
			<xs:group ref="PhysicalEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="CombatEffectiveness" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ReinforcedReducedType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="HigherFormation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SpecialC2HQ" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UnitSymbol" type="UnitSymbolType"/>
	<xs:complexType name="VehicleType">
		<xs:sequence>
			<xs:group ref="PlatformGroup"/>
			<xs:group ref="ActorEntityGroup"/>
			<xs:group ref="EntityGroup"/>
			<xs:element ref="VehicleTypeCategoryCode" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Vehicle" type="VehicleType"/>
	<xs:simpleType name="VehicleTypeCategoryCodeType">
		<xs:annotation>
			<xs:documentation>Instances of this class (code values) to be taken from JC3IEDM 3.1.4 VehicleTypeCategoryCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GenericInstance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VesselTypeCategoryCodeType">
		<xs:choice>
			<xs:element ref="SubsurfaceVesselTypeCode"/>
			<xs:element ref="SurfaceVesselTypeCode"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="VesselTypeCategoryCode" type="VesselTypeCategoryCodeType"/>
	<xs:complexType name="WeaponType">
		<xs:annotation>
			<xs:documentation>An EQUIPMENT-TYPE of any kind used in warfare or combat to attack and overcome an enemy.
Assumed here that Equipment is used by an Actor, and is not an actor itself. If Equipment can take actions, then it should be a Platform or other Actor Entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ResourceGroup"/>
			<xs:element ref="WeaponTypeCategoryCode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Weapon" type="WeaponType"/>
	<xs:simpleType name="WeaponTypeCategoryCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
